# Application Settings
PROJECT_NAME="Growearn API"
ENVIRONMENT="development"
DEBUG=True

# Render PostgreSQL Database Configuration
# Paste your Render External Database URL below:
DATABASE_URL=postgresql://growearnpostgres_user:Sbn2qwMsc5cULeYLd4wVeDjNz0zyBWGQ@dpg-da63c7qjobas738ectug-a.singapore-postgres.render.com/growearnpostgres